<p id="notice"><%= notice %></p>

<p><strong>Name:</strong> <%= @business.name %></p>
<p><strong>Country:</strong> <%= @business.country %></p>
<p><strong>State:</strong> <%= @business.state %></p>
<p><strong>City:</strong> <%= @business.city %></p>

<%= link_to "Edit", edit_business_path(@business) %>
