<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Country:</strong>
  <%# = CountryStateSelect::Constant::COUNTRIES[@user.country_id] %>
</p>
<p>
  <strong>Country Name From second drop down:</strong>
  <%= @user.country_name %>
</p>
<p>
  <strong>State:</strong>
  <%= @user.state_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
